In [74]:
import pandas as pd
import yfinance as yf
from datetime import timedelta
import importlib

In [54]:
# Define ticker symbol
nifty50 = '^NSEI'

# Define start and end dates in 'YYYY-MM-DD' format
start_date = '2008-01-01'
end_date = '2025-09-12'

# Download monthly historical data for specified period
data = yf.download(nifty50, start=start_date, end=end_date, interval='1mo')
data.columns = data.columns.droplevel(level=1)
data.reset_index(inplace=True)

[*********************100%***********************]  1 of 1 completed

In [65]:
data.head()

Price       Date        Close         High          Low         Open  Volume
0     2008-01-01  5137.450195  6357.100098  4448.500000  6136.750000       0
1     2008-02-01  5223.500000  5545.200195  4803.600098  5140.600098       0
2     2008-03-01  4734.500000  5222.799805  4468.549805  5222.799805       0
3     2008-04-01  5165.899902  5230.750000  4628.750000  4735.649902       0
4     2008-05-01  4870.100098  5298.850098  4801.899902  5265.299805       0

In [81]:
import help
importlib.reload(help)
from help import demo_hmm_detector_monthly_2

result, regime_stats = demo_hmm_detector_monthly_2(data, price_column='Close', date_column='Date')

state_names = {0: 'Risky Bullish',
    1: 'Neutral',
    2: 'Stable Bullish',
    3: 'Volatile'}

# Add regime names column
result['regime_name'] = result['hidden_state'].map(state_names)
result['Date'] = result['Date'] - timedelta(days=1)

=== HMM Regime Detector - Monthly Data ===
Data shape: (213, 6)
Date range: 2008-01-01 00:00:00 to 2025-09-01 00:00:00

Fitting HMM model with 4 regimes...
HMM Model Summary:
==================
Number of states: 4
Log-likelihood: -725.61

Regime Characteristics:
   Start Probabilities      Means    Variance  Volatility Rank
0         0.000000e+00  26.392523  172.087953                2
1         1.000000e+00  -2.136748   28.751950                1
2        1.628302e-234  10.006802   20.400217                0
3         0.000000e+00 -26.698126  178.042533                3

Results:
Total months: 209
Regimes detected: 4 (as specified)

Regime distribution:
Regime 0: 15 months (7.2%)
Regime 1: 86 months (41.1%)
Regime 2: 94 months (45.0%)
Regime 3: 14 months (6.7%)

Regime Statistics Summary:
Regime 0: Avg Return: 5.9480, Volatility: 7.3007, Count: 15 months
Regime 1: Avg Return: -0.5041, Volatility: 4.5781, Count: 86 months
Regime 2: Avg Return: 1.8047, Volatility: 3.6270, Count: 94 months
Regime 3: Avg Return: -4.1292, Volatility: 13.3281, Count: 14 months

Detailed Regime Statistics:
Regime 0: Vol Rank 2, Time in regime: 7.2%
Regime 1: Vol Rank 1, Time in regime: 41.1%
Regime 2: Vol Rank 0, Time in regime: 45.0%
Regime 3: Vol Rank 3, Time in regime: 6.7%

Returning DataFrame with regime assignments and regime statistics

In [82]:
result.to_csv('regime.csv', index=False)

In [80]:
result.head()

Price       Date        Close  hidden_state    returns regime_name
0     2008-04-27  4870.100098             1  -5.896483     Neutral
1     2008-05-28  4040.550049             3 -18.673366    Volatile
2     2008-06-27  4332.950195             3   6.986782    Volatile
3     2008-07-28  4360.000000             3   0.622341    Volatile
4     2008-08-28  3921.199951             3 -10.607434    Volatile