In [2]:
import pandas as pd
import yfinance as yf
from datetime import timedelta
import importlib

In [3]:
# Define ticker symbol
nifty50 = '^NSEI'

# Define start and end dates in 'YYYY-MM-DD' format
start_date = '2007-01-01'
end_date = '2025-09-12'

# Download monthly historical data for specified period
data = yf.download(nifty50, start=start_date, end=end_date, interval='1mo')
data.columns = data.columns.droplevel(level=1)
data.reset_index(inplace=True)

/var/folders/vw/5r9h86rn0vj657bdg0b_rkbh0000gn/T/ipykernel_2281/1605990291.py:9: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download(nifty50, start=start_date, end=end_date, interval='1mo')
[*********************100%***********************]  1 of 1 completed

In [4]:
data.head()

Price       Date        Close         High          Low         Open  Volume
0     2007-09-01  5021.350098  5055.799805  4481.549805  4518.450195       0
1     2007-10-01  5900.649902  5976.000000  5000.950195  5021.500000       0
2     2007-11-01  5762.750000  6011.950195  5394.350098  5903.799805       0
3     2007-12-01  6138.600098  6185.399902  5676.700195  5765.450195       0
4     2008-01-01  5137.450195  6357.100098  4448.500000  6136.750000       0

In [6]:
import libraries.help as help
importlib.reload(help)
from libraries.help import demo_hmm_detector_monthly

result, regime_stats = demo_hmm_detector_monthly(data, price_column='Close', date_column='Date')

=== HMM Regime Detector - Monthly Data ===
Data shape: (217, 6)
Date range: 2007-09-01 00:00:00 to 2025-09-01 00:00:00

Fitting HMM model with 4 regimes...
HMM Model Summary:
==================
Number of states: 4
Log-likelihood: -704.34

Regime Characteristics:
   Start Probabilities      Means    Variance  Volatility Rank
0        1.040031e-192  -3.039947   16.721221                1
1        1.941414e-116   6.882615   13.012444                0
2         4.240436e-24 -17.134555  188.998337                3
3         1.000000e+00  16.802082  140.680893                2

Results:
Total months: 214
Regimes detected: 4 (as specified)

Regime distribution:
Regime 0: 81 months (37.9%)
Regime 1: 100 months (46.7%)
Regime 2: 17 months (7.9%)
Regime 3: 16 months (7.5%)

Regime Statistics Summary:
Regime 0: Avg Return: -0.6614, Volatility: 4.6275, Count: 81 months
Regime 1: Avg Return: 1.9347, Volatility: 3.5077, Count: 100 months
Regime 2: Avg Return: -5.6142, Volatility: 12.3350, Count: 17 months
Regime 3: Avg Return: 6.4101, Volatility: 6.9409, Count: 16 months

Detailed Regime Statistics:
Regime 0: Vol Rank 1, Time in regime: 37.9%
Regime 1: Vol Rank 0, Time in regime: 46.7%
Regime 2: Vol Rank 3, Time in regime: 7.9%
Regime 3: Vol Rank 2, Time in regime: 7.5%

Returning DataFrame with regime assignments and regime statistics

In [7]:
state_names = {3: 'Risky Bullish',
    0: 'Neutral',
    1: 'Stable Bullish',
    2: 'Volatile'}

# Add regime names column
result['regime_name'] = result['hidden_state'].map(state_names)
result['Date'] = result['Date'] - timedelta(days=1)
result.to_csv('regime.csv', index=False)